[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/snippetsEmu"]
	path = bundle/snippetsEmu
	url = git@github.com:vim-scripts/snippetsEmu.git
